.jumbotron {
  background-color: #81ecec
}

.jumbotron h1 {
  font-family: sans-serif;
  font-variant: small-caps;
  font-size-adjust: auto;
  color: #341f97
}

.blue-background {
  background-color: #75C3FF
}

.purple-background {
  background-color: #EE82EE
}

#letsCount {
  display: none;
}

#sidebar {
  position: fixed;
  max-width: 20%;
  background-color: #feca57
}
